h1{
  text-align: center;
}

.square{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  font-size: 100px;
  text-align: center;

}

#ticBoard {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin: 0 auto;
}