.square {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
