.header {
  text-align: center;
}

.square {
  border: .5px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
}

#gameboard {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
}
